<h1>{{question.question}}</h1>
<ul class="list-group">
  <li *ngFor="let choice of choices"
      (click)="submitAnswer(choice)" [ngClass]=checkFormat(choice)>
    <input id="{{choice + question.question}}" type="radio" [checked]="choice===question.answer" [disabled]="graded" name="{{question.question}}">
    <label for="{{choice + question.question}}">{{choice}}</label>
    <i class="fa fa-check pull-right green-check" *ngIf="isAttempt && choice===question.correct"></i>
    <i class="fa fa-times pull-right red-cross" *ngIf="isAttempt && choice===question.answer && question.answer!==question.correct"></i>
  </li>
</ul>
<br/>
